﻿@using OnlineMedicine.Models

@{
    Medicine m = ViewBag.m;
}
<p>
    <a style="text-decoration:none" href="/Home">Home</a> /
    <a style="text-decoration:none" href="/Medicine">Medicines List</a> /
    <span>@m.Name</span>
</p>
<h1>
</h1>
<div class="row" style="margin-top: 7%; padding: 50px 30px;border: 3px solid rgb(217, 217, 217); border-radius: 15px">
    <div class="col-4">
        <img src="@m.Image" style="max-width:372px" />
    </div>
    <div class="col-8">

        <h3>@m.Name</h3>



        <p><span style="font-weight:bold; display:inline-block;width: 100px;">Country </span> : @m.Country.Name</p>
        <p><span style="font-weight:bold; display:inline-block;width: 100px;">Description </span> : @m.Descript</p>
        <p><span style="font-weight:bold; display:inline-block;width: 100px;">Expiry </span> : @DateTime.Parse(@m.ExpiredDate.ToString()).ToString("dd-MMM-yyyy")</p>
        <p><span style="font-weight:bold; display:inline-block;width: 100px;">Min Age </span> : @m.MinAge</p>
        <p>
            <form asp-action="Index" asp-controller="Medicine" method="post">
                <input type="hidden" name="CategoryIds" value="@m.CategoryId" />
                <span style="font-weight:bold; display:inline-block;width: 100px;">Category </span>
                : <button class="btn-secondary" type="submit">
                    @m.Category.Name
                </button>
            </form>
        </p>
        <div id="cartForm">
            <form asp-controller="Cart" asp-action="AddToCart" method="post">
                <input type="hidden" name="medicineId" value="@m.Id" />
                <input type="hidden" name="unitPrice" value="@m.Price" />

                <p><span style="font-weight:bold; display:inline-block; width: 90px;">Type </span> &nbsp;&nbsp;: @m.Type.Name</p>
                <p><span style="font-weight:bold; display:inline-block; width: 90px;">Price </span> &nbsp;&nbsp;: @decimal.Round(@m.Price,2)$ /@m.Type.Name</p>

                <p><span style="font-weight:bold; display:inline-block; width: 90px;">Quantity: </span> &nbsp;&nbsp;: (The remaining amount: @m.Quantity)</p>

                Choose <input name="quantity" style="width:200px;margin-left:50px" id="quantityInput" class="btn btn-primary" type="number" value="1" min="1" max="@m.Quantity" />

                @{
                    if (!User.Identity.IsAuthenticated)
                    {
                        <br />
                        <a style="margin-top:3%;margin-left:10%" asp-controller="Account" asp-action="Login" class="btn btn-outline-primary" type="submit" disabled="@(m.Quantity == 0)">Add to Cart</a>
                    }
                    else
                    {
                        <br />
                        <button style="margin-top:3%;margin-left:10%" class="btn btn-outline-primary" type="submit" disabled="@(m.Quantity == 0)">Add to Cart</button>
                    }
                }
            </form>

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>
    document.querySelector("#cartForm form").addEventListener("submit", async function (event) {
        event.preventDefault(); // Ngăn chặn việc submit ban đầu

        const form = event.target;

        // Thực hiện kiểm tra điều kiện
        if (form.checkValidity()) {
            // Hiển thị thông báo thành công
            Swal.fire({
                icon: 'success',
                title: 'Add to Cart Successful',
                showConfirmButton: false,
                timer: 2000 // Hiển thị trong 2 giây
            });

            // Chờ 2 giây trước khi thực hiện submit form
            await new Promise(resolve => setTimeout(resolve, 2000));

            // Thực hiện submit form
            form.submit();
        } else {
            // Nếu form không hợp lệ, hiển thị thông báo lỗi
            Swal.fire({
                icon: 'error',
                title: 'Add to Cart fail',
                showConfirmButton: false,
                timer: 2000
            });
        }
    });
</script>






