﻿@model OnlineMedicine.ViewModels.MedicineListModel

@{
    ViewData["Title"] = "Index";
    List<Medicine> medicines = Model.Medicines;
    List<Category> categories = Model.Categories;
}

<h1>Medicines List</h1>
<hr />
<div class="row">
    <div class="col-3">
        <form asp-action="Index" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h3>Category</h3>
            <div class="form-group mb-3">
                <input type="text" asp-for="SearchKeyword" placeholder="Name, Descript, Country,..." />
                <span asp-validation-for="SearchKeyword" class="text-danger"></span>
            </div>
            @foreach (var item in categories)
            {
                <label>
                    <input type="checkbox" name="CategoryIds" value="@item.Id"
                    @(Model.CategoryIds != null && Model.CategoryIds.Contains(item.Id) ? "checked" : "") />
                    @item.Name
                </label>
                <br />
            }
            <input class="btn btn-outline-secondary mt-3" type="submit" value="Filter" />
        </form>
    </div>
    <div class="col-9 row">
        @foreach (var item in medicines)
        {
            <div class="card col-lg-4 col-md-6 col-sm-12 mb-4" style="width: 18rem; margin-right: 2%">
                <img class="card-img-top" src="@item.Image" alt="Meidicine">
                <div class="card-body">
                    <h5 class="card-title" style="height:48px; text-align:center">@item.Name</h5>
                    <p class="card-text" style="max-height: 120px; overflow:hidden">@item.Descript</p>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                </div>
            </div>
        }
    </div>
</div>