﻿@{
    ViewData["Title"] = "Category";
}

<h1>All Medicines</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>Image</th>
                <th>Category</th>
                <th>Type</th>
                <th>Country</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>ExpierdDate</th>
                <th>MinAge</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Medicine item in ViewBag.Medicine)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td> 
                        <img style="height: 50px" src="@item.Image">
                    </td>
                    <td>
                        @item.Category.Name
                    </td>
                    <td>
                        @item.Type.Name
                    </td>
                    <td>
                        @item.Country.Name
                    </td>
                    <td>
                        @item.Price
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                    <td>
                        @item.ExpiredDate.Value.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @item.MinAge
                    </td>
                    <td>
                        <a href="/Medicine/Edit?mid=@item.Id">Edit</a>
                        <a href="/Medicine/Delete?mid=@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
