﻿<html>
<head>
    <title>Customer Information</title>
</head>
<body>
    <h2>Customer Information</h2>

    <form asp-controller="Cart" asp-action="CheckOutInfo">
        <div class="row">
            <div class="col-md-2">
                <div>
                    <label for="CustomerName">Customer Name:</label>
                    <input type="text" name="name" value="@ViewBag.Account.Username" />
                </div>

                <div>
                    <label for="Address">Address:</label>
                    <input type="text" name="address" value="@ViewBag.Account.Address" />
                </div>

                <div>
                    <label for="PhoneNumber">Phone Number:</label>
                    <input type="text" name="phoneNumber" value="@ViewBag.Account.PhoneNumber" />
                </div>

                <div>
                    <input type="submit" value="Submit" />
            </div>
            
        </div>
            <div class="col-md-10">
                <table class="table table-bordered m-0">
                    <thead>
                        <tr>
                            <!-- Set columns width -->
                            <th class="text-center py-3 px-4" style="min-width: 400px;">Product Name &amp; Details</th>
                            <th class="text-right py-3 px-4" style="width: 100px;">Price</th>
                            <th class="text-center py-3 px-4" style="width: 120px;">Quantity</th>
                            <th class="text-right py-3 px-4" style="width: 100px;">Total</th>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (Cart c in ViewBag.Cart)
                        {

                            <tr>

                                <td class="p-4">
                                    <div class="media align-items-center">
                                        <img style="width: 80px;" src="@c.Medicine.Image"
                                             class="d-block ui-bordered mr-4" alt="">
                                        <div class="media-body">
                                            <a href="/Medicine/Details/@c.MedicineId" class="d-block text-dark"
                                               style="text-decoration:none;"><span style="color:blue; font-size: 19px">@c.Medicine.Name</span></a>
                                            <small>
                                                <span class="text-muted">Type:</span>
                                                <span class="text-capitalize">@c.Medicine.Type.Name</span> &nbsp;
                                                <span class="text-muted">Category: </span> @c.Medicine.Category.Name &nbsp;
                                                <span class="text-muted">From: </span> @c.Medicine.Country.Name
                                            </small>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-right font-weight-semibold align-middle p-4">$@decimal.Round(c.Medicine.Price, 2)</td>
                                <td class="text-right font-weight-semibold align-middle p-4">
                                    @c.Quantity
                                </td>
                                <td class="text-right font-weight-semibold align-middle p-4">$@decimal.Round(c.Price,2)</td>

                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </form>
</body>
</html>