﻿@using OnlineMedicine.Models

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }

        .row::after {
            content: "";
            clear: both;
            display: table;
        }

        .col-md-3 {
            float: left;
            width: 25%;
        }

        .col-md-9 {
            float: left;
            width: 75%;
        }

        h2 {
            margin-top: 0;
        }

        .list-group {
            list-style: none;
            padding: 0;
        }

        .list-group-item {
            border: 1px solid #ddd;
            margin-bottom: -1px;
        }

            .list-group-item a {
                text-decoration: none;
                display: block;
                padding: 10px;
                color: #333;
            }

                .list-group-item a:hover {
                    background-color: #f4f4f4;
                }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f4f4f4;
        }

        .btn-primary {
            background-color: #007bff;
            color: #fff;
            padding: 6px 12px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

            .btn-primary:hover {
                background-color: #0056b3;
            }
    </style>
</head>
<body>
    <div class="container">

        <div class="row">
            
            <div class="col-md-12">
                <h1 style="text-align:center">Receipt</h1>
                <h3>Customer: @ViewBag.Order.CustomerName</h3>
                <h3>Address: @ViewBag.Order.Address</h3>
                <h3>PhoneNumber: @ViewBag.Order.PhoneNumber</h3>
                <h3>Order date: @ViewBag.Order.CreatedDate</h3>
                <h3>Total money: @ViewBag.Order.TotalMoney </h3>
                <h2>List of Detail</h2>
                <table>
                    <thead>
                        <tr>
                            <th>OrderDetailID</th>
                            <th>ProductId</th>
                            <th>ProductName</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (OrderDetail detail in ViewBag.OrderDetails)
                        {
                            <tr>
                                
                                <td>@detail.Id</td>
                                <td>@detail.MedicineId</td>
                                <td>@detail.Medicine.Name</td>
                                <td>@detail.Quantity</td>
                                <td>@detail.Price</td>

                            </tr>

                        }
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
</body>
</html>







